<ng-content>
</ng-content>
<div style="width:100%;height=60px;display:flex;align-items:center;justify-content:center;" *ngIf="working">
  <img src='{{ loading_image }}'>
</div>
<div style="width:100%;text-align:center;" *ngIf="all_objects">
  <p>No more data</p> <button (click)="paginateData()">Refresh</button>
</div>
